body{
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

h2{
    color: #f48dca;
}


.produto{
    display: block;
    width: 50%;
    box-sizing: border-box;
    border: 3px solid #f48dcba9;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    transform: transform 0.3s;
}

.produto:hover{
    border-color: crimson;
    transform: scale(1.02);
}

.galeria{
    text-align: center;
    font-size: 0ss;
}

.galeriaFlex{
    display: flex;
    gap:20px;
    justify-content: space-around;
}

.colunaFlex{
    
    flex-direction: column;
    gap:20px;
    justify-content: space-around;
}

.linhaFlex{
    flex-direction: row;
    gap:20px;
    justify-content: space-around;
}

.produtos{
    display: inline-block;
    width: 30%;
    height: 30%;
    box-sizing: border-box;
    border: 5px solid #f48dca;
    border-radius: 2%;
    padding: 10px;
    margin: 10px;
    transform: transform 0.3s;
}

.produtos:hover{
    transform: scale(1.05);
    border-color: crimson;
    border-radius: 5px;
}

h4{
    text-align: center;
    font-size: x-large;
}

.banner{
    width: 100%;

    text-align: center;
}

.symbol{
    width: 8%;
    height: 10px;
    position:fixed;
    right: 0;
    top:80%;
    transform: tranform 0.3s;
   
    
}
.symbol:hover{
    transform: scale(1.1);
}

nav{
    position:sticky;
    top:5px;
    margin:0px;
    padding: 0px;
    
}

img{
    width:200px;
    display:block;
    margin:0 auto;
}

main{
    display: grid;    
    grid-template-columns: 250px 1fr;
    gap: 20px;            
    padding: 20px;
   
}

.sidebar {
       
      background: #eee;
      padding: 20px;
      border-right: 2px solid #ccc;
     
}

.selecionarProduto{
    border: 5px solid #eee;
    border-radius: 5px;
    background-color: #fbaedc;
    text-align: center;
    font-size: large;
    margin-bottom: 1px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 8px;
    font-family: Tahoma;
    transform: transform 0.3s;

}

.selecionarProduto:hover{
    border-color: rgb(235, 135, 155);
    transform: scale(1.02);
}

.coluna-direita {
        
      flex-direction: column;
      flex-wrap: wrap;
      background: #eee;
      padding: 20px;
      gap: 20px;
      
}

.item {
      background: white;
      padding: 20px;
      flex: 1 1 200px; 
      border: 1px solid #bbb;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      flex:1;
      text-align: center;
    }
